/* Universal */
*{
    margin:0;
    padding:0;
}

/* Element */
nav a {
    color:inherit;
}

nav li {
    display: inline;
    padding: 14px 16px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

nav li:hover {
    background-color: rgb(185, 122, 103);
}

nav a:visited {
    color:white;
}

body {
    background-color: rgb(214, 223, 224);
}

h1 { 
   text-align: center;
   border:3px rgb(190, 186, 190) double;
   background-color: rgb(114, 97, 90);
   color: white;
   font-size: 35px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-shadow: 2px 2px 5px black;
}

main {
    margin:5px;
}

footer {
    text-align: center;
    font-size: 25px;
    margin: 25px;
}

footer::after {
    content:"♡";
}

/* Class */
.text-right {
    margin:0;
    padding: 14px 16px;
    text-align: right;
    background-color: rgb(216, 184, 168);
}

.information{
    text-align: center;
    margin: 0% 20% 3% 20%;
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 22px;
}

.flex-container2 {
    display: flex;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 40%;
    min-height: 400px;
    max-height: 400px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects img {
    max-width: 350px;
    max-height: 350px;
}

.projects > :first-child img {
    max-width: 800px;
}

.contactinfo ul {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 150px;
}

/* id */
 #profilepic  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius:8px;
    align-content:center;
}

#featured {
    display: flex;
    flex: 2 0 90%;
    flex-wrap: wrap;
    justify-content: center;
}

#featured img:hover {
     opacity: 0.5;
}

#study-guide-effect img:hover {
    opacity: 0.5;
    width: 400px;
}
#five-star img:hover {
    opacity: 0.5;
}
#aboutme {
    margin: 1%;
    color: rgb(114, 97, 90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    font-size: 45px;
} 

#work {
    margin: 1%;
    color: rgb(114, 97, 90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    font-size: 45px;
} 

#contact {
    margin: 1%;
    color: rgb(114, 97, 90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    font-size: 45px;
}

/* Media Query */
@media screen and (max-width: 600px) {
    .text-right {
        width: 90%;
        text-align: center;
    }

    #profilepic {
        width: 85%;
    }

    .flex-container2 {
        width: 400px;
        min-height:auto;
    
    }
    
    .projects img {
        max-width: 275px;
    }

    .projects > :first-child img {
        max-width: 400px;
    }

    .text-right {
      width: 100%;
    }

   .information {
      font-size: 25px;
      text-align: left;
      margin: 1% 3%;
    }
}