*{
    margin:0;
    padding:0;
}

/* ul {
    color: white;
    margin: 0;
    padding: 0;
} */

nav a {
    color:inherit;
}

nav li {
    display: inline;
    padding: 14px 16px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

nav li:hover {
    background-color: rgb(185, 122, 103);
}

nav a:visited {
    color:white;
}


body {
    background-color: rgb(214, 223, 224);
}

h1 { 
   text-align: center;
   border:3px rgb(190, 186, 190) double;
   background-color: rgb(114, 97, 90);
   color: white;
   font-size: 35px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-shadow: 2px 2px 5px black;
}



.text-right {
    margin:0;
    padding: 14px 16px;
    text-align: right;
    background-color: rgb(216, 184, 168);
}

.information{
    text-align: center;
    margin: 0% 20% 3% 20%;
    font-family:Verdana, Tahoma, sans-serif
}



/* .flex-container2:hover {
    opacity: 0.5;
} */


.flex-container2 {
    display: flex;
    /* margin: 0px;
    padding: 0px; */
    /* width: 30%; */
    flex-direction: row;
    flex-wrap: wrap;
    /* float: left; */
    /* justify-content: space-evenly; */
    flex: 1 0 40%;
    min-height: 175px;
    max-height: 175px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects img{
    max-height: 150px;
    
}

 #profilepic  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius:8px;
    align-content:center;
    /* max-width: 100%;
    height: auto; */
}

#featured {
    display: flex;
    flex: 2 0 90%;
    /* margin: 0px;
    padding: 0px; */
    flex-wrap: wrap;
    justify-content: center;
}

#aboutme {
    margin: 1%;
    color: rgb(114, 97, 90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    font-size: 50px;
} 

#work {
    margin: 1%;
    color: rgb(114, 97, 90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    font-size: 50px;
} 

#contact {
    margin: 1%;
    color: rgb(114, 97, 90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

#featured:hover {
    opacity: 0.5;
}